@use '@/styles/mixin.scss' as *;

.Button {
  width: 100%;
  padding: 14px 15px;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  @include useFontWeight(bold);
  color: var(--color-primary-font);

  &.default {
    border: 0.5px solid rgba(var(--color-primary-rgb), 0.5);
  }

  &.primary {
    background: linear-gradient(135deg, var(--color-primary-font), rgba(var(--color-primary-rgb), 0.9));
    color: var(--color-background);
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--color-disabled);
    color: var(--color-primary-font);
    opacity: 0.5;
  }
}
