@use '@/styles/variables.scss' as *;
@use '@/styles/mixin.scss' as *;

.BlogPostPage {
  width: calc(100% - 16px);
  padding: 0 8px;
  display: flex;

  .tag-container {
    width: 100%;
    margin: 4px 0 16px 0;
    display: flex;
    gap: 10px;
    overflow-x: auto;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    @include useFontWeight('extraBold');
  }

  .info {
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    gap: 16px;
    color: (var(--color-primary-font));

    .name {
      text-transform: capitalize;
      @include useFontWeight('bold');
    }

    .date {
      color: rgba(var(--color-primary-rgb, 0.8));
    }

    .edit {
      margin-left: auto;
    }
  }

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .toc {
    display: none;
    width: 100%;
    height: 500px;
  }

  @include useDesktop {
    width: $inner-width;

    .title {
      font-size: 32px;
      line-height: 42px;
    }

    .section {
      width: 800px;
      min-width: 800px;
    }

    .toc {
      display: block;
    }
  }
}
