@use '@/styles/mixin.scss' as *;

.PostWriteForm {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  height: 100%;

  .title-field {
    background-color: var(--color-background);
    font-size: 30px;
    border: none;
    outline: none;
    border-bottom: 0.5px solid rgba(var(--color-primary-rgb), 0.5);
    color: var(--color-primary-font);
    width: 100%;
  }

  .submit {
    width: 100%;
  }

  @include useDesktop {
    .title-field {
      font-size: 40px;
    }

    .submit {
      align-self: flex-end;
      width: 200px;
    }
  }
}
