@use '@/styles/variables.scss' as *;

@mixin useDesktop {
  @media (min-width: #{$breackpoint-desktop}) {
    @content;
  }
}

@mixin useSkeleton {
  background: linear-gradient(
    90deg,
    rgba(var(--color-skeleton-rgb), 0.06) 25%,
    rgba(var(--color-skeleton-rgb), 0.15) 37%,
    rgba(var(--color-skeleton-rgb), 0.06) 63%
  );
  background-size: 400% 100%;
  border: none;
  box-shadow: none;
  animation: skeleton-loading 1.4s infinite ease;

  @keyframes skeleton-loading {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
}

@mixin useFontWeight($weight) {
  @if $weight == bold {
    font-family: 'NanumSquareBold';
    font-weight: bold;
  } @else if $weight == extraBold {
    font-family: 'NanumSquareExtraBold';
    font-weight: 900;
  } @else if $weight == lighter {
    font-family: 'NanumSquareLight';
    font-weight: lighter;
  }
}
