@use '@/styles/mixin.scss' as *;

.next-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  .next-content {
    flex: 1;
    padding-top: 64px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  }

  & > footer {
    margin-top: auto;
  }

  @include useDesktop {
    overflow-x: inherit;
  }
}
