.next-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  .next-content {
    flex: 1;
    padding: 16px 0;
    display: flex;
    justify-content: center;
  }

  & > footer {
    margin-top: auto;
  }
}
