@use '@/styles/variables.scss' as *;
@use '@/styles/mixin.scss' as *;

.MarkdownViewer {
  font-size: 16px;
  user-select: text;
  color: var(--color-primary-font);
  padding-bottom: 80px;

  & td {
    border: 1px solid rgba(var(--color-primary-rgb), 0.3);
  }

  & strong {
    font-weight: 700;
  }

  a {
    color: var(--color-primary-font);
  }

  ul {
    margin-left: 32px;
    margin-bottom: 18px;

    & > li::before {
      position: absolute;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transform: translateY(230%);
      margin-left: -18px;
      background-color: var(--color-primary-font);
    }

    & p {
      margin: 0;
    }
  }

  ol {
    margin-left: 36px;
    margin-bottom: 18px;

    & > li {
      counter-increment: li;

      &::before {
        position: absolute;
        margin-left: -24px;
        content: counter(li) '.';
        @include useFontWeight('bold');
      }

      & p {
        margin: 8px 0;
      }
    }
  }

  & li {
    font-size: 1em;
    line-height: 2;
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include useFontWeight('bold');
    margin-bottom: 16px;
  }

  h1 {
    margin-top: 40px;
    font-size: 40px;
  }
  h2 {
    margin-top: 26px;
    font-size: 32px;
  }
  h3 {
    margin-top: 24px;
    font-size: 24px;
  }
  h4 {
    margin-top: 24px;
    font-size: 18px;
  }
  h5 {
    margin-top: 24px;
    font-size: 16px;
  }
  h6 {
    margin-top: 24px;
    font-size: 14px;
  }

  & img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  p {
    font-size: 1em;
    line-height: 1.6;
    margin: 18px 0;
  }

  blockquote {
    border-left: 4px solid #20c997;
    padding: 0 16px;
    margin-inline: 0;

    & > p {
      font-size: 18px;
      margin: 0;
    }
  }

  a {
    font-size: 0.9em;
    color: var(--color-link);
  }
}

.Code {
  background-color: var(--color-code-background);
  color: #c1798b;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 4px;
}
