@use '@/styles/variables.scss' as *;
@use '@/styles/mixin.scss' as *;

.BlogPage {
  position: relative;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  .side {
    position: absolute;
    top: 38px;
    width: 100%;

    .side-title {
      display: none;
    }

    .side-list {
      display: flex;
      gap: 10px;
      margin-top: 12px;
    }
  }

  .main {
    height: 100%;
  }

  .section {
    margin-top: 72px;
  }

  @include useDesktop {
    width: $inner-width;
    flex-direction: row-reverse;
    padding: 0;

    .main {
      flex: 1;
    }

    .section {
      margin-top: 24px;
    }

    .side {
      position: static;
      width: 192px;
      padding-left: 8px;

      .side-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 2px;
        height: 30px;
        font-size: 14px;
      }

      .side-list {
        margin-top: 24px;
        flex-direction: column;
      }
    }
  }
}
